:root {
    --bg-light: #E3E6EF;
    --bg-dark: #090909;

    --text-light-1000: #ffffff;
    --text-light-900: #e8e8e8;
    --text-light-800: #d2d2d2;
    --text-light-700: #b5b5b5;
    --text-light-400: #6b6b6b;

    --text-dark-1000: #000000;
    --text-dark-900: #1a1a1a;
    --text-dark-800: #2c2c2c;
    --text-dark-700: #454548;

    --text-muted: #737a86;
    --accent-blue: #252C3A;

    --font-poppins: "Poppins", sans-serif;
    --font-clash: "Clash Display", sans-serif;

    --max-width: 1920px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-poppins);
    background-color: var(--bg-dark);
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

.section-title {
    font-family: var(--font-clash);
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: normal;
    color: var(--text-light-800);
    font-weight: 500;
    /* line-height: 1.2; */
    /* margin-bottom: 1rem; */
}

.section-description {
    font-size: 0.875rem;
    color: var(--text-description);
    margin: 0 auto;
    line-height: 1.2;
    font-weight: 500;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.link-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-main);
    width: fit-content;
    letter-spacing: 0.5px;
}

.link-arrow:hover .btn-icon {
    transform: translateX(10px);
}

/* ───────── HEADER ───────── */
.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 4%;
    z-index: 9999;
}

.logo {
    color: var(--text-light-800);
    font-family: var(--font-clash);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    background-color: rgba(9, 9, 9, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: right 0.4s ease;
}

.navigation.opened {
    right: 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.nav-link {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-light-800);
    transition: color 0.3s;
}

/* .nav-link:hover {
    color: var(--text-light-1000);
} */

.btn-primary {
    background-color: var(--bg-light);
    color: var(--text-dark-900);
    font-weight: 500;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 500px;
    transition: background-color 0.3s ease;
}

/* .btn-primary:hover {
    background-color: var(--text-light-800);
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(1px);
    z-index: 99;
    transition: opacity 0.4s ease, visibility 0.4s;
}

.overlay.opened {
    opacity: 1;
    visibility: visible;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 6px;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 101;
}

.menu-mobile:active .bar {
    opacity: 0.3;
}

.menu-mobile.opened .bar:first-child {
    width: 24px;
    transform: translateY(4.5px) rotate(45deg);
}

.menu-mobile.opened .bar:last-child {
    width: 24px;
    transform: translateY(-4.5px) rotate(-45deg);
}

.bar {
    width: 28px;
    height: 2px;
    display: block;
    background: var(--text-light-800);
    border-radius: 2px;
    transition:
        width 0.25s ease,
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s ease;
}

@media (min-width: 720px) {
    .menu-mobile {
        display: none;
    }

    .overlay {
        display: none !important;
    }

    .navigation {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        box-shadow: none;
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        z-index: auto;
    }

    .nav-list {
        flex-direction: row;
        gap: 1.5rem;
    }

    .nav-link {
        font-size: 0.875rem;
    }

    .btn-primary {
        font-size: 0.875rem;
    }
}

/* ───────── HERO ───────── */
.hero {
    position: relative;
    background: url("../assets/temporario.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100dvh;
    pointer-events: none;
    background: 
    radial-gradient(
        63.56% 59.73% at 50% 50%, 
        rgba(0, 0, 0, 0.00) 40%,
        rgba(0, 0, 0, 0.40) 100%);
    z-index: 0;
}

.hero-pill-subtitle {
    background: rgba(13, 13, 13, 0.20);
    border-radius: 500px;
    padding: 8px 20px;
    margin-bottom: 1.5rem;
    box-shadow:
        -10px -6px 12px 0 rgba(75, 75, 75, 0.15) inset,
        -1px -1px 1px 0 rgba(157, 157, 157, 0.50) inset,
        1px 1px 1px 0 rgba(157, 157, 157, 0.50) inset,
        12px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
}

.hero-subtitle {
    font-size: 12px;
    color: var(--text-light-700);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 36px;
    z-index: 1;
}

.hero-title {
    font-family: var(--font-clash);
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--text-light-900);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.10);
}

.hero-description {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-light-800);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
}

.hero-actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
}

.hero-main-button {
    border-radius: 500px;
    padding: 16px 28px 16px 32px;
    color: var(--text-dark-900);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;

    border: 3px solid transparent;
    background-image:
        linear-gradient(#ffffff, #ffffff),
        linear-gradient(to bottom, #ffffff 45%, transparent 80%),
        linear-gradient(to right, #e8a04c, #f4e85c, #58f0b0, #66b2ff, #e8a04c, #f4e85c, #58f0b0, #66b2ff);

    background-clip: padding-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box;
    background-size: 100% 100%, 100% 100%, 200% 100%;
    
    animation: mover-degrade 3s linear infinite;
}

@keyframes mover-degrade {
    0% {
        background-position: 0 0, 0 0, 0 0; 
    }
    100% {
        background-position: 0 0, 0 0, 100% 0; 
    }
}

.hero-contact-button {
    border-radius: 500px;
    padding: 18px 32px;
    color: var(--text-light-900);
    background-color: #101010;
    font-size: 14px;
    font-weight: 500;
    box-shadow:
        -1px -2px 6px 0 rgba(108, 108, 108, 0.2) inset,
        1px 2px 6px 0 rgba(152, 152, 152, 0.2) inset;
}

.hero-extra-info {
    display: none;
}











.code-image {
    width: 200px;
}